### Firebase ###
.idea
**/node_modules/*
**/.firebaserc

### Firebase Patch ###
.runtimeconfig.json
.firebase/
firebase-debug.log

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

### Vuejs ###
node_modules
.DS_Store
docs/_book
test/
dist/
dist_electron/

# Relay
relay/node_modules/
relay/uploads/
relay/relay/
relay/rover/node_modules
relay/rover/dist